{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.nethone.io"
    }
  ],
  "info": {
    "title": "Nethone API",
    "version": "1.0"
  },
  "paths": {
    "/v1/inquiries": {
      "post": {
        "tags": ["Inquiries API"],
        "summary": "Create an Inquiry",
        "description": "Request a recommendation for a user action",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/type"
                  },
                  "reference": {
                    "$ref": "#/components/schemas/reference"
                  },
                  "attempt_reference": {
                    "$ref": "#/components/schemas/attempt_reference"
                  },
                  "profiling_reference": {
                    "$ref": "#/components/schemas/profiling_reference"
                  },
                  "tags": {
                    "$ref": "#/components/schemas/tags"
                  },
                  "past_inquiry": {
                    "$ref": "#/components/schemas/past_inquiry"
                  },
                  "force_accept": {
                    "$ref": "#/components/schemas/force_accept"
                  },
                  "customer": {
                    "$ref": "#/components/schemas/customer"
                  },
                  "origin": {
                    "$ref": "#/components/schemas/origin"
                  },
                  "device": {
                    "$ref": "#/components/schemas/device"
                  },
                  "service_start": {
                    "$ref": "#/components/schemas/service_start"
                  },
                  "transaction_currency": {
                    "$ref": "#/components/schemas/transaction_currency"
                  },
                  "transaction_amount": {
                    "$ref": "#/components/schemas/transaction_amount"
                  },
                  "virtual_account_purpose": {
                    "$ref": "#/components/schemas/virtual_account_purpose"
                  },
                  "merchant_reference": {
                    "$ref": "#/components/schemas/merchant_reference"
                  },
                  "merchant_name": {
                    "$ref": "#/components/schemas/merchant_name"
                  },
                  "merchant_country": {
                    "$ref": "#/components/schemas/merchant_country"
                  },
                  "merchant_url": {
                    "$ref": "#/components/schemas/merchant_url"
                  },
                  "merchant_phone_number": {
                    "$ref": "#/components/schemas/merchant_phone_number"
                  },
                  "merchant_industry": {
                    "$ref": "#/components/schemas/merchant_industry"
                  },
                  "merchant_industry_category": {
                    "$ref": "#/components/schemas/merchant_industry_category"
                  },
                  "merchant_mcc": {
                    "$ref": "#/components/schemas/merchant_mcc"
                  },
                  "merchant_timestamp": {
                    "$ref": "#/components/schemas/merchant_timestamp"
                  },
                  "merchant_license": {
                    "$ref": "#/components/schemas/merchant_license"
                  },
                  "merchant_risk": {
                    "$ref": "#/components/schemas/merchant_risk"
                  },
                  "source": {
                    "$ref": "#/components/schemas/source"
                  },
                  "promotions": {
                    "$ref": "#/components/schemas/promotions"
                  },
                  "loyalty_program_transaction": {
                    "$ref": "#/components/schemas/loyalty_program_transaction"
                  },
                  "items": {
                    "$ref": "#/components/schemas/items"
                  },
                  "extra_data": {
                    "$ref": "#/components/schemas/extra_data"
                  }
                }
              },
              "examples": {
                "ecommerce": {
                  "value": {
                    "attempt_reference": "7747a30a-1d3e-11eb-8309-372bd7dd6c37",
                    "profiling_reference": "da267ce0-fe21-406d-a4dc-66325aeae13f",
                    "customer": {
                      "first_name": "John",
                      "last_name": "Seagram",
                      "email": "john.seagram@example.com",
                      "gender": "male",
                      "nationality": "US",
                      "billing_address": {
                        "city": "New York",
                        "name": "John Seagram",
                        "region": "US-NY",
                        "street": "375 Park Avenue",
                        "country": "US",
                        "postal_code": "10152"
                      },
                      "delivery_address": {
                        "city": "New York",
                        "name": "John Seagram",
                        "region": "US-NY",
                        "street": "375 Park Avenue",
                        "country": "US",
                        "postal_code": "10152"
                      }
                    },
                    "payment_methods": [
                      {
                        "method": "card",
                        "card_bin_number": "411111",
                        "card_expiry_year": 2022,
                        "card_expiry_month": 9,
                        "value": {
                          "amount": "599.99",
                          "currency": "USD"
                        }
                      }
                    ],
                    "transaction_currency": "USD",
                    "transaction_amount": "599.99",
                    "items": [
                      {
                        "type": "generic",
                        "id": "13811876",
                        "price": {
                          "amount": "599.99",
                          "currency": "USD"
                        },
                        "quantity": 1,
                        "brand": "VALENTINO",
                        "category": "Trainers"
                      }
                    ]
                  }
                },
                "travel": {
                  "value": {
                    "attempt_reference": "fcc43114514d11e5a8657c7a9166c5ec",
                    "profiling_reference": "da267ce0-fe21-406d-a4dc-66325aeae13f",
                    "payment_methods": [
                      {
                        "method": "card",
                        "card_bin_number": "411111",
                        "card_expiry_year": 2022,
                        "card_expiry_month": 9,
                        "value": {
                          "amount": "599.99",
                          "currency": "BRL"
                        }
                      }
                    ],
                    "transaction_currency": "BRL",
                    "transaction_amount": "599.99",
                    "items": [
                      {
                        "id": "9ae8219a-1d3e-11eb-8309-372bd7dd6c37",
                        "type": "flight",
                        "itinerary": {
                          "segments": [
                            {
                              "legs": [
                                {
                                  "to": "VCP",
                                  "from": "CWB",
                                  "fare_base": "G100BG",
                                  "ticket_class": "Economic",
                                  "flight_number": "4097",
                                  "flight_duration": "01:00",
                                  "departure_datetime": "2021-05-07T09:00:00.0-03:00",
                                  "arrival_datetime": "2021-05-07T10:30:00.0-03:00",
                                  "marketing_carrier": null,
                                  "administrating_carrier": "AD"
                                }
                              ]
                            },
                            {
                              "legs": [
                                {
                                  "to": "CGB",
                                  "from": "VCP",
                                  "fare_base": "G100BG",
                                  "ticket_class": "Economic",
                                  "flight_number": "4166",
                                  "flight_duration": "01:05",
                                  "departure_datetime": "2021-05-06T16:15:00.0-03:00",
                                  "arrival_datetime": "2021-05-06T17:40:00.0-03:00",
                                  "marketing_carrier": null,
                                  "administrating_carrier": "AD"
                                }
                              ]
                            }
                          ],
                          "refund_policy": "fully refundable",
                          "flight_type": "round trip"
                        },
                        "passengers": [
                          {
                            "type": "adult",
                            "gender": "female",
                            "lastname": "Seagram",
                            "firstname": "John",
                            "birth_date": "1999-02-25",
                            "country_code": "PL",
                            "document_type": "passport"
                          }
                        ],
                        "price": {
                          "amount": "599.99",
                          "currency": "BRL"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inquiry response with advice",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "desc",
                  "required": ["advice", "id", "id_str", "info"],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "id_str": {
                      "$ref": "#/components/schemas/id_string"
                    },
                    "advice": {
                      "$ref": "#/components/schemas/advice"
                    },
                    "info": {
                      "$ref": "#/components/schemas/info"
                    }
                  }
                },
                "examples": {
                  "with_models": {
                    "$ref": "#/components/examples/with_models"
                  },
                  "lowrisk": {
                    "$ref": "#/components/examples/lowrisk"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Inquiry rejection response",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": 1,
                      "message": "Sample error message"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquiries/reference/{reference}": {
      "get": {
        "tags": ["Inquiries API"],
        "summary": "View an Inquiry",
        "description": "Retrieve a past recommendation",
        "parameters": [
          {
            "$ref": "#/components/parameters/reference_Inquiry"
          }
        ],
        "responses": {
          "200": {
            "description": "Inquiry response with advice",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "desc",
                  "required": ["advice", "id", "id_str", "info"],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/id"
                    },
                    "id_str": {
                      "$ref": "#/components/schemas/id_string"
                    },
                    "advice": {
                      "$ref": "#/components/schemas/advice"
                    },
                    "info": {
                      "$ref": "#/components/schemas/info"
                    }
                  }
                },
                "examples": {
                  "with_models": {
                    "$ref": "#/components/examples/with_models"
                  },
                  "lowrisk": {
                    "$ref": "#/components/examples/lowrisk"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Inquiry with such reference doesn't exist",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Inquiry was not found"
                }
              }
            }
          },
          "422": {
            "description": "Failed to process this inquiry",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Failed to process this inquiry"
                }
              }
            }
          },
          "425": {
            "description": "Inquiry still processed. Retry later to retrieve final result.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Inquiry still processed"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions": {
      "post": {
        "summary": "Declare a Transaction",
        "description": "Link information about a transaction to a previous inquiry",
        "requestBody": {
          "required": true,
          "description": "The request can use either `inquiry_id`, `inquiry_reference`, or both. This text is in the requestBody object.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reference", "timestamp"],
                "allOf": [
                  {
                    "type": "object",
                    "required": ["reference", "timestamp"],
                    "properties": {
                      "reference": {
                        "$ref": "#/components/schemas/reference_Transaction"
                      },
                      "merchant_reference": {
                        "$ref": "#/components/schemas/merchant_reference_Transaction"
                      },
                      "payment_method": {
                        "$ref": "#/components/schemas/payment_method"
                      },
                      "user_reference": {
                        "$ref": "#/components/schemas/user_reference"
                      },
                      "profiling_reference": {
                        "$ref": "#/components/schemas/profiling_reference"
                      },
                      "timestamp": {
                        "$ref": "#/components/schemas/timestamp"
                      },
                      "currency": {
                        "$ref": "#/components/schemas/currency"
                      },
                      "amount": {
                        "$ref": "#/components/schemas/amount"
                      },
                      "card_token": {
                        "$ref": "#/components/schemas/card_token"
                      },
                      "billing_descriptor": {
                        "$ref": "#/components/schemas/billing_descriptor"
                      },
                      "extra_data": {
                        "$ref": "#/components/schemas/extra_data_Transaction"
                      },
                      "flags": {
                        "$ref": "#/components/schemas/flags"
                      }
                    }
                  },
                  {
                    "properties": {
                      "inquiry_id": {
                        "$ref": "#/components/schemas/inquiry_id"
                      },
                      "inquiry_reference": {
                        "$ref": "#/components/schemas/inquiry_reference"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "optional": {
                  "$ref": "#/components/examples/optional"
                },
                "simple": {
                  "$ref": "#/components/examples/simple"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["reference", "id", "id_str"],
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "Unique reference identifying transaction in your system"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique id of created transaction - 64-bit value."
                    },
                    "id_str": {
                      "type": "string",
                      "description": "Unique id of created transaction as string"
                    }
                  }
                },
                "example": {
                  "id": 23432809473,
                  "id_str": "23432809473",
                  "reference": "12345"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": 1,
                      "message": "Sample error message"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id_Transaction"
        }
      ],
      "put": {
        "tags": ["Transactions API"],
        "summary": "Update a transaction by its ID",
        "description": "Send the outcome of a transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flags": {
                    "$ref": "#/components/schemas/flags"
                  }
                }
              },
              "examples": {
                "auth_true": {
                  "$ref": "#/components/examples/auth_true"
                },
                "chargebacked": {
                  "$ref": "#/components/examples/chargebacked"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["reference", "id", "id_str"],
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "Unique reference identifying transaction in your system"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique id of created transaction - 64-bit value."
                    },
                    "id_str": {
                      "type": "string",
                      "description": "Unique id of created transaction as string"
                    }
                  }
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": 1,
                      "message": "Sample error message"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/reference/{transaction_reference}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/transaction_reference"
        }
      ],
      "put": {
        "tags": ["Transactions API"],
        "summary": "Update a transaction by its reference",
        "description": "Send the outcome of a transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flags": {
                    "$ref": "#/components/schemas/flags"
                  }
                }
              },
              "examples": {
                "auth_true": {
                  "$ref": "#/components/examples/auth_true"
                },
                "chargebacked": {
                  "$ref": "#/components/examples/chargebacked"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["reference", "id", "id_str"],
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "Unique reference identifying transaction in your system"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unique id of created transaction - 64-bit value."
                    },
                    "id_str": {
                      "type": "string",
                      "description": "Unique id of created transaction as string"
                    }
                  }
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": 1,
                      "message": "Sample error message"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "reference_Inquiry": {
        "name": "reference",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "A reference for this inquiry matching the value from POST",
        "required": true
      },
      "id_Transaction": {
        "name": "id",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "An `id` from the response to the POST to the Transaction API",
        "required": true
      },
      "transaction_reference": {
        "name": "transaction_reference",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "description": "An `reference` from the response to the POST to the Transaction API",
        "required": true
      }
    },
    "schemas": {
      "type": {
        "type": "string",
        "description": "Type of the inquiry; needed only if it's exact behavior is established during integration process",
        "enum": [
          "register",
          "transaction",
          "submit",
          "confirm",
          "login",
          "payment:pre-auth",
          "payment:post-auth",
          "payin",
          "payout",
          "transfer",
          "create-virtual-account",
          "register-bank-account"
        ],
        "nullable": true
      },
      "attempt_reference": {
        "type": "string",
        "description": "reference to the Profiling session, see <a href='/docs/integration_guide/faq#attempt_ref'>attempt_reference</a>",
        "maxLength": 128
      },
      "reference": {
        "type": "string",
        "description": "Unique reference identifying this inquiry, as used in internal client's systems",
        "maxLength": 128
      },
      "profiling_reference": {
        "type": "string",
        "description": "It is a session identifier. If the field is <code>null</code>, information in the Panel Inquiry view will be limited. See <a href='/docs/integration_guide/faq#prof_ref'>profiling_reference</a>",
        "maxLength": 64
      },
      "force_accept": {
        "type": "boolean",
        "description": "If set to true, the advice will be always 'accept', regardless of computed risk score"
      },
      "past_inquiry": {
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "Reference of past inquiry related to this inquiry",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "enum": ["payin_refund", null],
            "description": "Reason of relation to past inquiry",
            "nullable": true
          }
        }
      },
      "id": {
        "type": "integer",
        "description": "Id of created inquiry to reference later - 64 bit value."
      },
      "id_string": {
        "type": "string",
        "description": "Id of created inquiry as string"
      },
      "advice": {
        "type": "string",
        "description": "Recommendation given for the inquiry",
        "enum": ["trust", "accept", "refuse", "review"]
      },
      "customer": {
        "type": "object",
        "description": "Customer data",
        "oneOf": [
          {
            "title": "Natural person",
            "allOf": [
              {
                "properties": {
                  "person_type": {
                    "type": "string",
                    "enum": ["natural", null],
                    "description": "Type of the person object. For a natural person can by omitted or must be equal `natural`",
                    "nullable": true
                  }
                }
              },
              {
                "properties": {
                  "user_reference": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Unique user identifier, see <a href='/docs/integration_guide/faq#user_ref'>user_reference</a>",
                    "nullable": true
                  },
                  "wallet_address": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 140,
                    "description": "Unique identifier of a cryptocurrency or digital wallet",
                    "nullable": true
                  },
                  "known_customer": {
                    "type": "boolean",
                    "description": "Indicates whether the customer has an activity history in the client's system.",
                    "nullable": true
                  },
                  "merchant_known_customer": {
                    "type": "boolean",
                    "description": "See `known_customer`. The field is useful when the Nethone client provides a service to many merchants. For example, a customer may be known to the client and at the same time new to the specific merchant.",
                    "nullable": true
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "First name",
                    "nullable": true
                  },
                  "middle_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "Middle name",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "Last name",
                    "nullable": true
                  },
                  "phone_number": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Phone number",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "format": "idn-email",
                    "minLength": 3,
                    "maxLength": 256,
                    "description": "Email",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Person's type. E.g. `adult` or `child`",
                    "nullable": true,
                    "example": "adult"
                  },
                  "dormant": {
                    "type": "boolean",
                    "description": "Indicates whether the person has not been active for an extended period",
                    "nullable": true
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["male", "female", "other", null],
                    "description": "Person's gender",
                    "nullable": true
                  },
                  "billing_address": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee full name",
                        "nullable": true
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee first name",
                        "nullable": true
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee last name",
                        "nullable": true
                      },
                      "courtesy_title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Courtesy title of the addressee",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code",
                        "pattern": "^[A-Z]{2}$",
                        "nullable": true,
                        "example": "PL"
                      },
                      "region": {
                        "type": "string",
                        "description": "Name of the region (ISO 3166-2 subdivision) - ISO 3166-2 code preferred. Examples: US-TX for Texas in United States; PL-14 for Mazovia Voivodship in Poland, DE-NI for Niedersachsen Bundesland in Germany, BR-MG for Minas Gerais in Brazil",
                        "minLength": 1,
                        "maxLength": 7,
                        "nullable": true,
                        "example": "US-NY"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "City",
                        "nullable": true
                      },
                      "neighbourhood": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Neighbourhood",
                        "nullable": true
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Postal code",
                        "nullable": true
                      },
                      "po_box_number": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "PO box number",
                        "nullable": true
                      },
                      "street": {
                        "type": "string",
                        "description": "Name of the street. It can include building and apartment number.",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "Madison Avenue"
                      },
                      "building": {
                        "type": "string",
                        "description": "Building number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "16b"
                      },
                      "apartment": {
                        "type": "string",
                        "description": "Apartment number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "2a"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Latitude",
                        "nullable": true,
                        "example": 52.233333
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude",
                        "nullable": true,
                        "example": 21.016667
                      },
                      "extra_data": {
                        "allOf": [
                          {
                            "additionalProperties": true,
                            "type": "object",
                            "nullable": true
                          },
                          {
                            "description": "Additional data associated with this address"
                          }
                        ]
                      },
                      "raw_data": {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Original value of the street and street number of the address",
                            "nullable": true
                          },
                          "address_line2": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "address_line3": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "ISO 3166-1 alpha-2 code",
                            "nullable": true
                          },
                          "city": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "City",
                            "nullable": true
                          },
                          "postal_code": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Postal code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "registration_address": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee full name",
                        "nullable": true
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee first name",
                        "nullable": true
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee last name",
                        "nullable": true
                      },
                      "courtesy_title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Courtesy title of the addressee",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code",
                        "pattern": "^[A-Z]{2}$",
                        "nullable": true,
                        "example": "PL"
                      },
                      "region": {
                        "type": "string",
                        "description": "Name of the region (ISO 3166-2 subdivision) - ISO 3166-2 code preferred. Examples: US-TX for Texas in United States; PL-14 for Mazovia Voivodship in Poland, DE-NI for Niedersachsen Bundesland in Germany, BR-MG for Minas Gerais in Brazil",
                        "minLength": 1,
                        "maxLength": 7,
                        "nullable": true,
                        "example": "US-NY"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "City",
                        "nullable": true
                      },
                      "neighbourhood": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Neighbourhood",
                        "nullable": true
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Postal code",
                        "nullable": true
                      },
                      "po_box_number": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "PO box number",
                        "nullable": true
                      },
                      "street": {
                        "type": "string",
                        "description": "Name of the street. It can include building and apartment number.",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "Madison Avenue"
                      },
                      "building": {
                        "type": "string",
                        "description": "Building number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "16b"
                      },
                      "apartment": {
                        "type": "string",
                        "description": "Apartment number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "2a"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Latitude",
                        "nullable": true,
                        "example": 52.233333
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude",
                        "nullable": true,
                        "example": 21.016667
                      },
                      "extra_data": {
                        "allOf": [
                          {
                            "additionalProperties": true,
                            "type": "object",
                            "nullable": true
                          },
                          {
                            "description": "Additional data associated with this address"
                          }
                        ]
                      },
                      "raw_data": {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Original value of the street and street number of the address",
                            "nullable": true
                          },
                          "address_line2": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "address_line3": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "ISO 3166-1 alpha-2 code",
                            "nullable": true
                          },
                          "city": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "City",
                            "nullable": true
                          },
                          "postal_code": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Postal code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "iban": {
                    "type": "string",
                    "description": "IBAN (read more: <a href=\"https://en.wikipedia.org/wiki/International_Bank_Account_Number\">IBAN</a>)",
                    "pattern": "^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,28}$",
                    "nullable": true,
                    "example": "RO09BCYP0000001234567890"
                  },
                  "bank_name": {
                    "type": "string",
                    "description": "Name of the bank, if applicable",
                    "minLength": 1,
                    "maxLength": 2048,
                    "nullable": true
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Name of the company, if applicable",
                    "minLength": 1,
                    "maxLength": 2048,
                    "nullable": true
                  },
                  "document_type": {
                    "type": "string",
                    "description": "Type of ID document",
                    "minLength": 1,
                    "maxLength": 2048,
                    "nullable": true,
                    "example": "passport"
                  },
                  "date_of_birth": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth in ISO8601 format",
                    "nullable": true,
                    "example": "2020-11-25"
                  },
                  "document_number": {
                    "type": "string",
                    "description": "Number of the ID document",
                    "minLength": 1,
                    "maxLength": 2048,
                    "nullable": true
                  },
                  "document_issue_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Document issue date in ISO8601 format",
                    "nullable": true,
                    "example": "2020-11-25"
                  },
                  "document_issuing_authority": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Document issuing authority",
                    "nullable": true
                  },
                  "document_issuing_state": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Document issuing state",
                    "nullable": true
                  },
                  "nationality": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "country_of_birth": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "loyalty_program_id": {
                    "type": "string",
                    "description": "Id of a loyalty program membership",
                    "minLength": 1,
                    "maxLength": 2048,
                    "nullable": true
                  },
                  "loyalty_program_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Loyalty program name",
                    "nullable": true,
                    "example": "miles and more"
                  },
                  "kyc_validated": {
                    "type": "boolean",
                    "description": "Indicates whether or not the user is KYC validated",
                    "nullable": true
                  },
                  "kyc_last_update_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the last update for the Know Your Customer (KYC) information in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  },
                  "country_of_residence": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "kyc_country_of_residence": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "pep_flag": {
                    "type": "boolean",
                    "description": "Flag indicating whether the person is a Politically Exposed Person (PEP)",
                    "nullable": true
                  },
                  "sanction_flag": {
                    "type": "boolean",
                    "description": "Flag indicating whether the person is under sanction",
                    "nullable": true
                  },
                  "is_blocked": {
                    "type": "boolean",
                    "description": "Indicates whether the person is blocked.",
                    "nullable": true
                  },
                  "company_role": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Role of the person within the company (e.g., CEO, CFO)",
                    "example": "CEO",
                    "nullable": true
                  },
                  "occupation": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Occupation of the person (e.g., engineer, lawyer)",
                    "example": "CEO",
                    "nullable": true
                  },
                  "tax_number": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Tax identification number of the person",
                    "nullable": true,
                    "example": "5223070603"
                  },
                  "extra_data": {
                    "additionalProperties": true,
                    "type": "object",
                    "nullable": true
                  },
                  "registration_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the person's registration in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  },
                  "last_update_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the last update for the person's information in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  }
                }
              },
              {
                "properties": {
                  "last_sca_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the last successful SCA for the customer in ISO8601 format, in UTC",
                    "nullable": true
                  },
                  "billing_address": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee full name",
                        "nullable": true
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee first name",
                        "nullable": true
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee last name",
                        "nullable": true
                      },
                      "courtesy_title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Courtesy title of the addressee",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code",
                        "pattern": "^[A-Z]{2}$",
                        "nullable": true,
                        "example": "PL"
                      },
                      "region": {
                        "type": "string",
                        "description": "Name of the region (ISO 3166-2 subdivision) - ISO 3166-2 code preferred. Examples: US-TX for Texas in United States; PL-14 for Mazovia Voivodship in Poland, DE-NI for Niedersachsen Bundesland in Germany, BR-MG for Minas Gerais in Brazil",
                        "minLength": 1,
                        "maxLength": 7,
                        "nullable": true,
                        "example": "US-NY"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "City",
                        "nullable": true
                      },
                      "neighbourhood": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Neighbourhood",
                        "nullable": true
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Postal code",
                        "nullable": true
                      },
                      "po_box_number": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "PO box number",
                        "nullable": true
                      },
                      "street": {
                        "type": "string",
                        "description": "Name of the street. It can include building and apartment number.",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "Madison Avenue"
                      },
                      "building": {
                        "type": "string",
                        "description": "Building number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "16b"
                      },
                      "apartment": {
                        "type": "string",
                        "description": "Apartment number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "2a"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Latitude",
                        "nullable": true,
                        "example": 52.233333
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude",
                        "nullable": true,
                        "example": 21.016667
                      },
                      "extra_data": {
                        "allOf": [
                          {
                            "additionalProperties": true,
                            "type": "object",
                            "nullable": true
                          },
                          {
                            "description": "Additional data associated with this address"
                          }
                        ]
                      },
                      "raw_data": {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Original value of the street and street number of the address",
                            "nullable": true
                          },
                          "address_line2": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "address_line3": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "ISO 3166-1 alpha-2 code",
                            "nullable": true
                          },
                          "city": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "City",
                            "nullable": true
                          },
                          "postal_code": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Postal code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "delivery_address": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee full name",
                        "nullable": true
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee first name",
                        "nullable": true
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee last name",
                        "nullable": true
                      },
                      "courtesy_title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Courtesy title of the addressee",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code",
                        "pattern": "^[A-Z]{2}$",
                        "nullable": true,
                        "example": "PL"
                      },
                      "region": {
                        "type": "string",
                        "description": "Name of the region (ISO 3166-2 subdivision) - ISO 3166-2 code preferred. Examples: US-TX for Texas in United States; PL-14 for Mazovia Voivodship in Poland, DE-NI for Niedersachsen Bundesland in Germany, BR-MG for Minas Gerais in Brazil",
                        "minLength": 1,
                        "maxLength": 7,
                        "nullable": true,
                        "example": "US-NY"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "City",
                        "nullable": true
                      },
                      "neighbourhood": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Neighbourhood",
                        "nullable": true
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Postal code",
                        "nullable": true
                      },
                      "po_box_number": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "PO box number",
                        "nullable": true
                      },
                      "street": {
                        "type": "string",
                        "description": "Name of the street. It can include building and apartment number.",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "Madison Avenue"
                      },
                      "building": {
                        "type": "string",
                        "description": "Building number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "16b"
                      },
                      "apartment": {
                        "type": "string",
                        "description": "Apartment number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "2a"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Latitude",
                        "nullable": true,
                        "example": 52.233333
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude",
                        "nullable": true,
                        "example": 21.016667
                      },
                      "extra_data": {
                        "allOf": [
                          {
                            "additionalProperties": true,
                            "type": "object",
                            "nullable": true
                          },
                          {
                            "description": "Additional data associated with this address"
                          }
                        ]
                      },
                      "raw_data": {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Original value of the street and street number of the address",
                            "nullable": true
                          },
                          "address_line2": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "address_line3": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "ISO 3166-1 alpha-2 code",
                            "nullable": true
                          },
                          "city": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "City",
                            "nullable": true
                          },
                          "postal_code": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Postal code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "bank_accounts": {
                    "type": "array",
                    "description": "Bank accounts owned by the customer",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2048,
                          "description": "Identifier for the bank account.",
                          "nullable": true
                        },
                        "last_update_date": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date and time of the last update for the bank account.",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "enum": ["iban", "us", "ca", "gb", "other", null],
                          "description": "Type of bank account, specifying the format of the account number.",
                          "nullable": true
                        },
                        "account_number": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2048,
                          "description": "Account number associated with the bank account. E.g. IBAN in case of iban type",
                          "nullable": true
                        },
                        "bic": {
                          "type": "string",
                          "minLength": 8,
                          "maxLength": 11,
                          "description": "The BIC (international identifier of the bank) for IBAN or OTHER-type bank accounts.",
                          "nullable": true
                        },
                        "sort_code": {
                          "type": "string",
                          "pattern": "\\d{6}",
                          "description": "The 6-digit sort code, assigned to UK financial institutions, for GB-type bank accounts.",
                          "nullable": true
                        },
                        "institution_number": {
                          "type": "string",
                          "pattern": "\\d{3}",
                          "description": "The 3-digit number assigned to Canadian financial institutions, for CA-type bank accounts.",
                          "nullable": true
                        },
                        "branch_code": {
                          "type": "string",
                          "pattern": "\\d{5}",
                          "description": "The 5-digit number assigned to branches of Canadian financial institutions, for CA-type bank accounts.",
                          "nullable": true
                        },
                        "bank_name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100,
                          "description": "Name of the bank associated with the bank account.",
                          "nullable": true
                        },
                        "aba": {
                          "type": "string",
                          "minLength": 9,
                          "maxLength": 9,
                          "description": "The American Banking Association (ABA) routing number for US-type bank accounts.",
                          "nullable": true
                        },
                        "country": {
                          "type": "string",
                          "pattern": "^[A-Z]{2}$",
                          "description": "ISO 3166-1 alpha-2 country code representing the country of the bank account."
                        }
                      }
                    },
                    "nullable": true
                  },
                  "declared_monthly_transaction_value": {
                    "allOf": [
                      {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "amount": {
                            "oneOf": [
                              {
                                "type": "string",
                                "title": "string",
                                "description": "An amount of money as decimal string.",
                                "pattern": "^\\d+(\\.\\d+)?$",
                                "example": "0.99"
                              },
                              {
                                "type": "integer",
                                "title": "integer",
                                "description": "An amount of money as integer. Must be given in smallest possible unit according to ISO 4217. E.g. 1.99 USD = 199 (cents), 30 BRL = 3000 (centavos), 5 HUF = 500 (filler), 555 JPY = 555 (Yen), 44 BHD = 44000 (fils). This option is not available for cryptocurrency amount, in such a case please use the decimal string.",
                                "minimum": 0,
                                "example": 99
                              }
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "description": "<a href=\"https://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code or cryptocurrency symbol.",
                            "pattern": "^[a-zA-Z0-9]{3,}$",
                            "example": "PLN"
                          }
                        },
                        "required": ["amount", "currency"],
                        "nullable": true
                      },
                      {
                        "description": "Declared value and currency of the customer's monthly transactions"
                      }
                    ]
                  },
                  "declared_monthly_transaction_count": {
                    "type": "integer",
                    "description": "Expected number of monthly customer transactions",
                    "minimum": 0,
                    "example": 0
                  },
                  "tax_number": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Tax identification number of the person",
                    "nullable": true,
                    "example": "5223070603"
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Status of the customer's account (e.g., active, inactive)",
                    "example": "active",
                    "nullable": true
                  },
                  "settlement_currency": {
                    "type": "string",
                    "description": "Currency used for settlement of customer transactions, including <a href=\"https://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> standard currencies and cryptocurrencies.",
                    "pattern": "^[a-zA-Z0-9]{3,}$",
                    "nullable": true,
                    "example": "PLN"
                  },
                  "wallet": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "description": "The wallet address associated with transaction"
                      },
                      "created_datetime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of the wallet creation in ISO8601 format",
                        "nullable": true,
                        "example": "2000-10-31T01:30:00.000-05:00"
                      },
                      "type": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "description": "Wallet type",
                        "nullable": true,
                        "example": "investment"
                      },
                      "balance": {
                        "allOf": [
                          {
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                              "amount": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "title": "string",
                                    "description": "An amount of money as decimal string.",
                                    "pattern": "^\\d+(\\.\\d+)?$",
                                    "example": "0.99"
                                  },
                                  {
                                    "type": "integer",
                                    "title": "integer",
                                    "description": "An amount of money as integer. Must be given in smallest possible unit according to ISO 4217. E.g. 1.99 USD = 199 (cents), 30 BRL = 3000 (centavos), 5 HUF = 500 (filler), 555 JPY = 555 (Yen), 44 BHD = 44000 (fils). This option is not available for cryptocurrency amount, in such a case please use the decimal string.",
                                    "minimum": 0,
                                    "example": 99
                                  }
                                ]
                              },
                              "currency": {
                                "type": "string",
                                "description": "<a href=\"https://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code or cryptocurrency symbol.",
                                "pattern": "^[a-zA-Z0-9]{3,}$",
                                "example": "PLN"
                              }
                            },
                            "required": ["amount", "currency"],
                            "nullable": true
                          },
                          {
                            "description": "Wallet balance after the transaction"
                          }
                        ]
                      },
                      "connected_virtual_account_purpose": {
                        "type": "string",
                        "enum": ["user_owned", "collection", null],
                        "description": "Specifies the purpose of the virtual bank account.",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            ]
          },
          {
            "title": "Legal person",
            "allOf": [
              {
                "required": ["person_type"],
                "properties": {
                  "person_type": {
                    "type": "string",
                    "description": "Type of the person object. For a legal person must be equal `legal`",
                    "enum": ["legal"]
                  }
                }
              },
              {
                "properties": {
                  "user_reference": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Unique user identifier, see <a href='/docs/integration_guide/faq#user_ref'>user_reference</a>",
                    "nullable": true
                  },
                  "wallet_address": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 140,
                    "description": "Unique identifier of a cryptocurrency or digital wallet",
                    "nullable": true
                  },
                  "known_customer": {
                    "type": "boolean",
                    "description": "Indicates whether the customer has an activity history in the client's system.",
                    "nullable": true
                  },
                  "merchant_known_customer": {
                    "type": "boolean",
                    "description": "See `known_customer`. The field is useful when the Nethone client provides a service to many merchants. For example, a customer may be known to the client and at the same time new to the specific merchant.",
                    "nullable": true
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "legal_person_type": {
                    "type": "string",
                    "maxLength": 2048,
                    "nullable": true,
                    "example": "business"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "format": "idn-email",
                    "minLength": 3,
                    "maxLength": 256,
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2048,
                    "description": "Person's type. E.g. `adult` or `child`",
                    "nullable": true,
                    "example": "adult"
                  },
                  "dormant": {
                    "type": "boolean",
                    "description": "Indicates whether the person has not been active for an extended period",
                    "nullable": true
                  },
                  "company_number": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "nullable": true
                  },
                  "kyc_validated": {
                    "type": "boolean",
                    "description": "Indicates whether or not the user is KYC validated",
                    "nullable": true
                  },
                  "kyc_last_update_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the last update for the Know Your Customer (KYC) information in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  },
                  "country_of_residence": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "kyc_country_of_residence": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code",
                    "pattern": "^[A-Z]{2}$",
                    "nullable": true,
                    "example": "PL"
                  },
                  "pep_flag": {
                    "type": "boolean",
                    "description": "Flag indicating whether the person is a Politically Exposed Person (PEP)",
                    "nullable": true
                  },
                  "sanction_flag": {
                    "type": "boolean",
                    "description": "Flag indicating whether the person is under sanction",
                    "nullable": true
                  },
                  "is_blocked": {
                    "type": "boolean",
                    "description": "Indicates whether the person is blocked.",
                    "nullable": true
                  },
                  "registration_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the person's registration in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  },
                  "last_update_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time of the last update for the person's information in ISO8601 format",
                    "nullable": true,
                    "example": "2000-10-31T01:30:00.000-05:00"
                  },
                  "registration_address": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee full name",
                        "nullable": true
                      },
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee first name",
                        "nullable": true
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Addressee last name",
                        "nullable": true
                      },
                      "courtesy_title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Courtesy title of the addressee",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code",
                        "pattern": "^[A-Z]{2}$",
                        "nullable": true,
                        "example": "PL"
                      },
                      "region": {
                        "type": "string",
                        "description": "Name of the region (ISO 3166-2 subdivision) - ISO 3166-2 code preferred. Examples: US-TX for Texas in United States; PL-14 for Mazovia Voivodship in Poland, DE-NI for Niedersachsen Bundesland in Germany, BR-MG for Minas Gerais in Brazil",
                        "minLength": 1,
                        "maxLength": 7,
                        "nullable": true,
                        "example": "US-NY"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "City",
                        "nullable": true
                      },
                      "neighbourhood": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Neighbourhood",
                        "nullable": true
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "Postal code",
                        "nullable": true
                      },
                      "po_box_number": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2048,
                        "description": "PO box number",
                        "nullable": true
                      },
                      "street": {
                        "type": "string",
                        "description": "Name of the street. It can include building and apartment number.",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "Madison Avenue"
                      },
                      "building": {
                        "type": "string",
                        "description": "Building number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "16b"
                      },
                      "apartment": {
                        "type": "string",
                        "description": "Apartment number. Leave null if already provided with the street name",
                        "minLength": 1,
                        "maxLength": 2048,
                        "nullable": true,
                        "example": "2a"
                      },
                      "latitude": {
                        "type": "number",
                        "description": "Latitude",
                        "nullable": true,
                        "example": 52.233333
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Longitude",
                        "nullable": true,
                        "example": 21.016667
                      },
                      "extra_data": {
                        "allOf": [
                          {
                            "additionalProperties": true,
                            "type": "object",
                            "nullable": true
                          },
                          {
                            "description": "Additional data associated with this address"
                          }
                        ]
                      },
                      "raw_data": {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "address_line1": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Original value of the street and street number of the address",
                            "nullable": true
                          },
                          "address_line2": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "address_line3": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Additional address information",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "ISO 3166-1 alpha-2 code",
                            "nullable": true
                          },
                          "city": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "City",
                            "nullable": true
                          },
                          "postal_code": {
                            "type": "string",
                            "maxLength": 2048,
                            "description": "Postal code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "year_incorporated": {
                    "type": "integer",
                    "description": "Year the company was incorporated",
                    "example": 2024,
                    "nullable": true
                  },
                  "annual_turnover": {
                    "allOf": [
                      {
                        "additionalProperties": false,
                        "type": "object",
                        "properties": {
                          "amount": {
                            "oneOf": [
                              {
                                "type": "string",
                                "title": "string",
                                "description": "An amount of money as decimal string.",
                                "pattern": "^\\d+(\\.\\d+)?$",
                                "example": "0.99"
                              },
                              {
                                "type": "integer",
                                "title": "integer",
                                "description": "An amount of money as integer. Must be given in smallest possible unit according to ISO 4217. E.g. 1.99 USD = 199 (cents), 30 BRL = 3000 (centavos), 5 HUF = 500 (filler), 555 JPY = 555 (Yen), 44 BHD = 44000 (fils). This option is not available for cryptocurrency amount, in such a case please use the decimal string.",
                                "minimum": 0,
                                "example": 99
                              }
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "description": "<a href=\"https://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code or cryptocurrency symbol.",
                            "pattern": "^[a-zA-Z0-9]{3,}$",
                            "example": "PLN"
                          }
                        },
                        "required": ["amount", "currency"],
                        "nullable": true
                      },
                      {
                        "description": "Annual turnover amount and currency of the company"
                      }
                    ]
                  },
                  "tax_number": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Tax identification number of the person",
                    "nullable": true,
                    "example": "5223070603"
                  },
                  "representative": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256,
                            "description": "First name",
                            "nullable": true
                          },
                          "middle_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256,
                            "description": "Middle name",
                            "nullable": true
                          },
                          "last_name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256,
                            "description": "Last name",
                            "nullable": true
                          },
                          "phone_number": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "description": "Phone number",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "format": "idn-email",
                            "minLength": 3,
                            "maxLength": 256,
                            "description": "Email",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 2048,
                            "description": "Person's type. E.g. `adult` or `child`",
                            "nullable": true,
                            "example": "adult"
                          },
                          "dormant": {
                            "type": "boolean",
                            "description": "Indicates whether the person has not been active for an extended period",
                            "nullable": true
                          },
                          "gender": {
                            "type": "string",
                            "enum": ["male", "female", "other", null],
                            "description": "Person's gender",
                            "nullable": true
                          },
                          "billing_address": {
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2048,
                                "description": "Addressee full name",
                                "nullable": true
                              },
                              "first_name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2048,
                                "description": "Addressee first name",
                                "nullable": true
                              },
                              "last_name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2048,
                                "description": "Addressee last name",
                                "nullable": true
                              },
                              "courtesy_title": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2048,
                                "description": "Courtesy title of the addressee",
[...]
