/* Tables CSS */

.html-table {
    border: rgb(227, 224, 224) 1px solid;
    border-radius: 12px;
}


.header {
    background-color: rgb(248, 248, 248);
    /* width: 30%; */
    padding: 10px 16px;
}

.content {
    padding: 10px 20px;
}

#authorizationTable .header,  #currenciesTable .header {
    /* background-color: rgb(248, 248, 248); */
    width: 30%;
    /* padding: 10px 16px; */
}

#currenciesTable .center-in-row {
    text-align: center;
}

#currenciesTable .vertical-center {
    vertical-align: middle;
}

#currenciesTable  .bottom-border {
    border-bottom: rgb(227, 224, 224) 1px solid;
}

.html-table td, .html-table th {
    border-left:  rgb(227, 224, 224) 1px solid;
    border-right:  rgb(227, 224, 224) 1px solid;
  }


  .html-table td:first-child, .html-table th:first-child {
    border-left: none; 
}

.html-table td:last-child, .html-table th:last-child {
    border-right: none; 
}