/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

html {
    font-family: "Inter", sans-serif;
}

.pill {
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 2px;
    display: inline-block;
}

/* Tables CSS */
table {
    /* border: rgb(227, 224, 224) 1px solid; */
    border: none;
    /* border-radius: 12px; */
    font-size: 15px!important;
}

/* .dark table {
     border: rgb(100, 95, 95) 1px solid; 
} */

.header {
    /* background-color: rgb(248, 248, 248); */
    vertical-align: middle;
    /* border-right: none;
    border-left: none; */
    padding: 10px 16px;
}

.content {
    padding: 10px 20px;
}

.content p {
    margin-top: 0;
}

 td:first-child,  th:first-child, .dark td:first-child,  .dark th:first-child {
    border-left: none; 
}

 td:last-child, th:last-child, .dark td:last-child, .dark th:last-child {
    border-right: none; 
} 

th {
    /* border-right: 1px solid #F5F3F5;
    border-left: 1px solid #F5F3F5; */
    border-right: 1px solid #d0d3d0;
    border-left: 1px solid #d0d3d0;
    border-bottom: 1px solid #d0d3d0;
    border-collapse: collapse;
}

td {
    /* border-bottom: 1px solid #F5F3F5;
    border-right: 1px solid #F5F3F5; */
    border-bottom: 1px solid #d0d3d0;
    border-right: 1px solid #d0d3d0;
    border-left: none;
    border-collapse: collapse;
} 

.dark td {
    border-bottom: 1px solid #4e5251;
    border-right: 1px solid #4e5251;
    border-left: none;
} 

.dark th {
    border-bottom: 1px solid #4e5251;
    border-right: 1px solid #4e5251;
    /* border-right: 1px solid #88908e; */
}

.dark .horizontal-table .header {
    border-bottom:1px solid #4e5251;
}

.horizontal-table .header {
    vertical-align:top;
}

/* Currencies Table */
#currenciesTable {
    max-height: 720px;
    border-collapse: separate; 
    border-spacing: 0;
    /* border: 1px solid #d0d3d0; */
}

#currenciesTable td {
    border-bottom: 1px solid #d0d3d0;
    border-right: 1px solid #d0d3d0;
    border-left: none;
    border-collapse: collapse;
} 

.dark #currenciesTable td {
    border-bottom: 1px solid #4e5251;
    border-right: 1px solid #4e5251;
} 

#currenciesTable .header {
    border: 1px solid #d0d3d0;
    border-top: none;
    border-left: none;
    background-color:#F3F5F3!important;
}

.dark #currenciesTable .header {
    border: 1px solid #4e5251;
    border-top: none;
    border-left: none;
    background-color:#0b0d0e!important;
}

/* Freeze first column  */
#currenciesTable thead tr:first-child th:first-child,
#currenciesTable tbody th:first-child {
    position: sticky;
    left: 0;
    z-index: 1; 
}

#currenciesTable thead tr:last-child th:last-child,
#currenciesTable tbody th:last-child {
    border-right: none;
}

/* #currenciest thead .group-header:last-child {
    border-right: none;
} */
/* .dark #currenciesTable thead tr:first-child th:first-child,
.dark #currenciesTable tbody th:first-child {
    background-color: blue!important;
    border: none!important;
} */

/* 
.dark #currenciesTable .group-header {
    border-top:1px solid #4e5251;
} */

/* Freeze first row */
#currenciesTable thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure it stays above other content */
    /* background-color: #F3F5F3; */
}

/* #currenciesTable thead tr:first-child {
    border: blue 1px solid!important;
} */

.dark #currenciesTable thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure it stays above other content */
}

.header-normal-weight
{
    font-weight: normal;
}

/* Hide elements but keep them in code */
.hide {
    display: none;
}