.pill {
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 2px;
    display: inline-block;
}

/* Tables CSS */

table {
    border: rgb(227, 224, 224) 1px solid;
    border-radius: 12px;
}


.header {
    background-color: rgb(248, 248, 248);
    vertical-align: middle;
    padding: 10px 16px;
}

.content {
    padding: 10px 20px;
}

.center-in-row {
    text-align: center;
}

.bottom-border {
    border-bottom: rgb(227, 224, 224) 1px solid;
}

table td, table th {
    border-left:  rgb(227, 224, 224) 1px solid;
    border-right:  rgb(227, 224, 224) 1px solid;
  }


table td:first-child, table th:first-child {
    border-left: none; 
}

table td:last-child, table th:last-child {
    border-right: none; 
}

#currenciesTable {
    height: 800px;
}

/* Freeze first column  */
#MOPTable th:first-child,
#currenciesTable thead tr:first-child th:first-child,
#currenciesTable tbody th:first-child  {
    position: sticky;
    left: 0;
    z-index: 1; 
}

/* Freeze first row */
#MOPTable thead,
#currenciesTable thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure it stays above other content */
}